* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color: red;
    --secondary-color: black;
    --tertiary-color: white;

    --background-color: white;
}
body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: lighter;
}

.header {
    /* border: 5px solid grey; */
    display: flex;
    padding: 0px 20px 0 20px;
    align-items: center;
    padding: 10px;
}
.menu {
    font-size: 25px;
    margin-left: 15px;
    margin-right: 25px;
    transform: scaleY(0.90);
    color: var(--secondary-color);
}
.brand {
    display: flex;
    align-items: center;
}
.youtube_logo {
    color: var(--main-color);
    font-size: 40px;
}
.web_name {
    font-size: 20px;
    transform: scaleY(1.3);
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--secondary-color);
}
.search_bar {
    display: flex;
}
.search_box {
    border: 0.75px solid lightgrey;
    height: 48px;
    width: 590px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    margin-left: 160px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}
.search_box::placeholder {
    font-size: 20px;
}
.search_button {
    border: 0.75px solid lightgrey;
    border-left: 0;
    background-color: grey;
    width: 70px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
}
button:hover {
    cursor: pointer;
}
.mic {
    background: grey;
    color:lightgrey;
    border-radius: 50%;
    font-size: 25px;
    padding: 10px;
    margin-left: 15px;
}
